{% extends 'base.html.twig' %}

{% block title %}Portfolio Mathéo Zeller{% endblock %}

{% block body %}
    <main class="min-h-screen">
        {{ include('home/includes/_home.html.twig') }}
        {{ include('home/includes/_me.html.twig') }}
        {{ include('home/includes/_competences.html.twig') }}
        {{ include('home/includes/_games.html.twig') }}
        {{ include('home/includes/_hobbies.html.twig') }}
    </main>
{% endblock %}
