<section id="competences" class="min-h-screen auto-rows-min text-center">
    <h2>Mes compétences</h2>
    <p>Retrouvez ci-dessous les technologies et langages que j'utilise au quotidien. Ainsi que les logiciels que j'apprécie</p>
    <div class="grid md:grid-cols-2 lg:grid-cols3 gap-4 text-center font-bold">
        <a class="competences" href="https://www.php.net/">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/php.svg') }}" alt="Icone PHP">
            <span>PHP</span>
        </a>
        <a class="competences" href="https://developer.mozilla.org/fr/docs/Web/JavaScript">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/javascript.svg') }}" alt="Icone Javascript">
            <span>Javascript</span>
        </a>
        <a class="competences" href="https://sass-lang.com/">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/sass.svg') }}" alt="Icone SASS">
            <span>SCSS</span>
        </a>
        <a class="competences" href="https://tailwindcss.com/">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/tailwindcss-icon.svg') }}" alt="Icone Tailwind">
            <span>Tailwind</span>
        </a>
        <a class="competences" href="https://symfony.com/">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/symfony.svg') }}" alt="Icone Symfony">
            <span>Symfony</span>
        </a>
        <a class="competences" href="https://gitmoji.dev/">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/pluginIcon.png') }}" alt="Icone Gitmoji">
            <span>Gitmoji</span>
        </a>
        <a class="competences" href="https://git-scm.com/">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/git-icon.svg') }}" alt="Icone Git">
            <span>Git</span>
        </a>
        <a class="competences" href="https://github.com/LeZellus">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/github-icon.svg') }}" alt="Icone Github">
            <span>GitHub</span>
        </a>
        <a class="competences" href="https://www.jetbrains.com/fr-fr/phpstorm/">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/phpstorm.svg') }}" alt="Icone PHPStorm">
            <span>PHPStorm</span>
        </a>
        <a class="competences" href="https://unity.com/fr">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/unity.svg') }}" alt="Icone Unity">
            <span>Unity</span>
        </a>
        <a class="competences" href="https://unity.com/fr">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/aseprite.png') }}" alt="Icone Aseprite">
            <span>Aseprite</span>
        </a>
        <a class="competences" href="https://unity.com/fr">
            <img class="w-8 h-8 mr-4" src="{{ asset('images/icons/figma.svg') }}" alt="Icone Figma">
            <span>Figma</span>
        </a>
    </div>
    <p>Toutes ces technologies que j'aime utiliser sont actuelles, ce qui me permet de proposer du travail au gout du jour. Je ne les maitrise pas toutes à la perfection, mais je travaille quotidiennement à améliorer mes capacités sur chacune d'entre elles.</p>
</section>